:root {
    --primary: #7f56d9;
    --primary-light: #c7a0f9;
    --background: #f9fafb;
    --dark-blue: #1b152b;
    --text-gray: #7a7d9c;
    --white: #fff;
    --stroke: #eff0f6;
    --linier-gradient: linear-gradient(
            90deg,
            #8932f6 -6.25%,
            rgba(27, 21, 43, 0) 212.03%
    );
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--background);
}
/* #region Typography */

h1,
.heading-xxlarge {
    font-size: 7.2rem;
    font-weight: 400;
}
h2,
.heading-xlarge {
    font-size: 4.2rem;
    font-weight: 400;
}
h3,
.heading-large {
    font-size: 3.6rem;
    font-weight: 400;
}
h4,
.heading-medium {
    font-size: 2.4rem;
    font-weight: 400;
}
h5,
.heading-small {
    font-size: 2rem;
    font-weight: 400;
}
h6,
.heading-xsmall {
    font-size: 1.6rem;
    font-weight: 400;
}

.text-large {
    size: 2.4rem;
    font-weight: 400;
}

.text-medium {
    size: 1.6rem;
    font-weight: 400;
}

.text-small {
    size: 1.2rem;
    font-weight: 400;
}

.btn {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.8rem 3rem;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
}


.btn.btn--full {
    display: block;
    text-align: center;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-outline-primary {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid;
    border-color: var(--primary);
}
.btn-dark {
    background-color: var(--dark-blue);
    color: var(--white);
}
.navbar{
    margin:16px 8px 0;
    background-color: var(--dark-blue);
    border-radius: 100px;
    padding: 5px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    color: var(--white);
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.logo__text{
    font-size: 11px;
    font-weight: 700;
}
.hero {
    text-align: center;
  }
  .hero__title {
    color: var(--dark-blue);
  }
  .hero__body {
    color: var(--text-gray);
  }
.burger-menu__list a{
    color: unset;
    text-decoration: none;

}
.burger-menu__list li{
    padding: 5px 10px;
    margin: 5px;
}
.burger-menu__list{
    border-radius: 25px;
    list-style-type: none;
   background-color: var(--dark-blue);
    color: var(--white);
    max-height: 50vh;
    overflow: hidden;
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 14px;
    transition: all 1s ease;
    z-index: 10;
    padding-top: 40px;
}
/* .burger-menu__toggle{ */
    /*position: relative;*/
/* } */
.burger-menu__list.burger-menu--collapse{
    max-height: 0;
    padding: 0;
    top: 0;
    display: block !important; 
}
.card{
    border: 1px solid var(--stroke);
    background-color: var(--white);
    border-radius:16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    gap: 36px;
    background-color: deepskyblue;

}
.card .card__info{
    background-color: coral;
    padding: 20px;

}

