:root{
    --gray: #6d6d6d;
    font-size: 62.5%;
    --lightPurple: #C7A0F9;
    --white: #fffbfb;
    
}
body{
    font-size: 1rem;
}
h1, .heading-xxlarge{
font-size: 7.2rem;
font-weight: 400;
}
h2, .heading-xlarge{
    width: 50rem;
    font-size: 4.2rem;
    font-weight: 400;
    }
body,html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 47rem;
    /* padding: 1rem; */
    margin: 1rem;
    
}
.information {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: right;
}
.information__text {
        width: 47rem;
        padding: 1rem;
}
.btn {
    width: 12rem;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    color: var(--white);
    background-color: var(--lightPurple);
    border-radius: 1rem;
}
.information__text--matn {
    display: inline-block;
    width: 65rem;
    margin-top: 3rem;
    font-size: 2.8rem;
    color: var(--gray);
}
.information__image {
    display: flex;
    align-items: center;
    justify-content: center;

}
.information__image-picture {
    width: 59rem;
    border-radius: .5rem;
    object-fit: cover;
    
}
.link {
    color: var(--gray);
    text-align: end;
    width: 47rem;
    display: inline-block;
    text-decoration: underline;
    font-size: 2.4rem;
}
@media (min-width: 320px) and (max-width: 768px) {
    .container {
        width: 76.8rem;
    }
    .information__text--matn {
        width: 50rem;
    }
    .heading-xlarge {
        width: 80rem;
        background-color: aqua;
    }
}
